* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: rgb(221, 59, 59);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: rgb(241, 105, 105);
  }
  
  
  
  .home-title {
    font-size: 3rem;
    color: white;
    background-color: rgb(221, 81, 81);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 5px 7px rgb(215, 49, 121);
  }
  
  button {
    background-color: #a58ae3;
    border: 0;
    padding: 1%;
    color: rgb(187, 66, 203);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(204, 147, 220);
  }
  
  .post-list {
    margin: 0;
    padding: 0;
    list-style: none;  
  }
  
  header a:hover {
    color: rgb(254, 144, 144); 
   }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid rgb(241, 95, 222);
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #f161cb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: rgb(210, 4, 4);
    border-bottom: 1px solid rgb(223, 122, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    font-size: 1.5rem;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
    background-color: gainsboro;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #a259de;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #9334eb;
  }
  
  .delete-post-btn {
    background-color: #9f8f57;
  }
  
  .delete-post-btn:hover {
    background-color: #d49a3c;
  }
  
  .post {
    background-color: lightskyblue;
    margin-bottom: 2%;
    line-height: 150%;
    border-color: rgb(243, 35, 35);
    border: solid;
  }
  
  .post-head {  
    /* margin-bottom: 10px; */
    padding: 2px;
  }
  
  .title {  
    font-size: 150%;  
    margin: 2px;
  }
  
  .meta {
    font-style: italic;
    font-size: 80%;
    margin: 2px;
  }
  
  .post-text {
    background-color: rgb(127, 221, 217);
    padding: 3px;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #a0ded8;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid rgb(236, 149, 149);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }